<%= add_page_title('Login')%>


<div>

  <%= form_for(resource, :as => resource_name,
                         :url => session_path(resource_name),
                         :html => {:class => 'form-horizontal'}) do |f| %>

    <%= error_messages!(resource) %>

    <div class="form-group">
      <%= f.label :email, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.email_field :email, class: 'form-control', :style => 'width:50%'%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.password_field :password, class: 'form-control', :style => 'width:50%'%>
        <%= link_to t('forgot_your_password'), new_password_path(resource_name) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">&nbsp;</div>
      <div class="col-sm-9">
        <% if devise_mapping.rememberable? %>
          <label>
            <%= f.check_box :remember_me %>
            <span class="lbl"> <%= t('remember_me') %></span>
          </label>
        <% end %>
        <br/>
        <%= f.submit t('sign_in'), :class => 'btn btn-flat btn-primary' %>
      </div>
    </div>

  <% end %>

</div>