<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : APPLICATION_NAME %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!--[if IE 7]>
        <%= stylesheet_link_tag "ie_lt7", media: "all", "data-turbolinks-track" => true %>
    <![endif]-->

  <!--[if lte IE 8]>
        <%= stylesheet_link_tag    "ie_lt8", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "ie_lt8", "data-turbolinks-track" => true %>
    <![endif]-->

  <!--[if lt IE 9]>
        <%= javascript_include_tag "ie_lt9", "data-turbolinks-track" => true %>
    <![endif]-->

  <%= csrf_meta_tags %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
</head>
<body role="document">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to APPLICATION_NAME, root_path, :class => 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.full_name %>
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.company.present? %>
              <li>
                <%= link_to t('edit_my_company'), edit_company_path(current_user.company) %>
              </li>
            <% end %>
            <li>
              <%= link_to t('edit_my_user'), edit_user_registration_path %>
            </li>
            <li class="divider"></li>
            <li><%= link_to  t('sign_out'), destroy_user_session_path, {:method => :delete} %></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container-fluid">

  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">

      <div class="list-group">
        <%= link_to t('dashboard'), dashboard_path, :class => sidebar_get_class('reports', 'dashboard') %>
        <%= link_to t('users'), users_path, :class => sidebar_get_class('users') %>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>

    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>


  <%= render 'shared/footer' %>
</div>
</body>
</html>
