<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body style="background-color: white;">

    <div class="container-fluid" style="text-align: center;">

      <%= image_tag 'error/csstricks.jpg' %>
      <br><br><br>

      <%= yield %>
    </div>

  </body>
</html>
